html {
    font-size: 16px;
}

/* === FARBEN === */

/*
BLAU:           #1F4E8C
DUNKEL GRAU:    #3D3F45
HELL GRAU:      #F0F0F0
ROT:            #A62C21
*/

/* === GLOBAL === */

body {
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 1366px) {
    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 1024px) {
    section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
    section {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

/* === GENERELLES === */

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.active {
    background-color: #9b9b9b !important;
}

.fettgedruckter-text {
    font-weight: bold;
}

.screenreader {
    display: none;
}

.btn-typ-1 {
    border: 2px solid #3d3f45;
    color: #0f0f0f;
    padding: 0.4rem 0.6rem;
    transition: border 0.5s ease-in-out;
    border-radius: 10px;
}

.btn-typ-1:hover {
    border: 2px solid #9b9b9b;
}

.btn-typ-2 {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 0.4rem 0.6rem;
    transition: color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.btn-typ-2:hover {
    color: #a62c21;
    border: 2px solid #a62c21;
}

.btn-typ-3 {
    border: 2px solid #3d3f45;
    background-color: transparent;
    font-size: 1rem;
    color: #3d3f45;
    transition: border 0.5s ease-in-out;
}

.btn-typ-3:hover {
    border: 2px solid #a62c21;
}

.intro-container {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
}

@media (max-width: 1366px) {
    .intro-container {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .intro-container {
        width: 100%;
    }
}

.intro-container > h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.intro-container > p {
    font-size: 1.2rem;
}

@media (max-width: 1366px) {
    .intro-container > p {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 1024px) {
    .intro-container > p {
        margin-bottom: 0;
    }
}

/*=== Navigationsleiste ===*/

#header-nav {
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    position: relative;
    font-weight: bold;
    font-size: 1.1rem;
}

#desktop-nav .active {
    border-radius: 15px;
}

#homeButton {
    margin-top: 0.9rem;
    color: #0f0f0f;
}

#homeButton:hover {
    color: #464646;
}

#header-nav ul {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
}

#header-nav ul > li {
    display: inline-block;
    height: 100%;
    padding: 0 0.4rem 0 0.4rem;
}

#header-nav ul > li > a {
    display: inline-block;
    margin-top: 0.9rem;
}

#header-nav ul > li > a:visited {
    color: #0f0f0f;
    text-decoration: none;
}

#header-nav ul > li > a:link {
    color: #0f0f0f;
    text-decoration: none;
}

#header-nav ul > li > a:hover {
    color: #464646;
    text-decoration: none;
}

#header-nav ul > li > a:active {
    color: #464646;
    text-decoration: none;
}

#header-nav .col-6 {
    padding-top: 0;
    padding-bottom: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
    height: 100%;
}

.logo-link {
    display: inline-block;
}

/* === NAVIGATIONSLEISTE (MOBIL) === */

#mobile-nav-button {
    color: #000;
    float: right;
    font-size: 2rem;
    border: 2px solid #000;
    border-radius: 7px;
    width: 37px;
    height: 37px;
    position: relative;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

#mobile-nav-button > span {
    position: absolute;
    bottom: -0.5px;
    left: 7.5px;
}

#mobile-nav-content > ul > li {
    display: block;
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 50px;
    padding: 0 1.2rem;
    text-align: center;
}

#mobile-nav-dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

#mobile-nav-content {
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
}

#mobile-nav-dropdown:hover > #mobile-nav-content {
    display: block;
}
#mobile-nav-dropdown:active > #mobile-nav-content {
    display: block;
}

#mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: inline-block;
    }
}

/* === COUNTDOWN BEREICH */

#countdown-section {
    margin: 0;
    padding: 1.5rem;
}

#countdown-section h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;
}

@media (max-width: 768px) {
    #countdown-section h1 {
        font-size: 1.5rem;
    }

    #countdown-section {
        padding: 0.5rem;
        padding-bottom: 0;
    }
}

/* ABOUT ME SECTION */
#about {
    background-color: #f0f0f0;
}
#about p,
h2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* TECHNOLOGY SECTION */

#tech,
#tech .col-6 {
    padding: 0;
}
#tech p,
h1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tech-teaser-box {
    background-color: #464646;
    text-align: center;
    color: #fff;
    padding: 1rem 1.5rem 1.5rem;
    width: 60%;
    margin-bottom: 2rem;
    border-radius: 25px;
}

#tech .row > .col-3:nth-of-type(even) > .tech-teaser-box {
    margin-right: auto;
    margin-left: 1rem;
}

#tech .row > .col-3:nth-of-type(odd) > .tech-teaser-box {
    margin-left: auto;
    margin-right: 1rem;
}

.tech-ansehen-btn {
    text-decoration: none;
    height: 40px;
    width: 40%;
    display: inline-block;
    padding-top: 0.5rem;
    min-width: 100px;
    margin-top: 1rem;
    border-radius: 15px;
}

.tech-ansehen-btn:link {
    color: #fff;
}

.tech-ansehen-btn:visited {
    color: #fff;
}

.tech-ansehen-btn:active {
    color: #fff;
}

.tech-ansehen-btn:hover {
    color: #9b9b9b;
    border: 2px solid #9b9b9b;
}

@media (max-width: 1366px) {
    .tech-teaser-box {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .tech-teaser-box {
        width: 100%;
        margin-bottom: 1rem;
    }

    #tech .row > .col-3:nth-of-type(even) > .tech-teaser-box {
        margin-left: 0.6rem;
    }

    #tech .row > .col-3:nth-of-type(odd) > .tech-teaser-box {
        margin-right: 0.6rem;
    }
}

@media (max-width: 768px) {
    #tech .row > .col-3:nth-of-type(even) > .tech-teaser-box {
        margin-left: 0rem;
        margin-right: auto;
    }

    #tech .row > .col-3:nth-of-type(odd) > .tech-teaser-box {
        margin-right: auto;
        margin-left: 0rem;
    }

    #tech .tech-teaser-box {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }
    #tech .tech-ansehen-btn {
        width: 15%;
    }
}

/* === NEWSLETTER-BEREICH === */

#newsletter-bereich {
    width: 100%;
    background-color: #3d3f45;
    padding-top: 0;
    padding-bottom: 0;
}

#nb-werbetext {
    color: #fff;
    font-size: 1.2rem;
}

#nb-email-input {
    width: 78%;
    height: 35px;
    border: 2px solid #fff;
    padding: 0.4rem;
    border-radius: 10px;
}

#nb-btn {
    height: 35px;
    border-radius: 10px;
}

#nb-form {
    margin-top: 0.4rem;
    float: right;
    width: 100%;
    text-align: right;
}

@media (max-width: 1822px) {
    #nb-email-input {
        width: 70%;
    }
}

@media (max-width: 1358px) {
    #nb-email-input {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    #nb-btn {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #nb-werbetext {
        display: none;
    }
    #nb-form {
        margin-top: 0;
    }
    #newsletter-bereich .col-4 {
        display: none;
    }
}

@media (max-width: 480px) {
    #nb-email-input {
        height: 25px;
    }
    #nb-btn {
        height: 25px;
        padding: 0.1rem;
    }
}

/* === TECHNOLOGY - SEITE === */

.flex-container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#technologie h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 1366px) {
    .flex-container {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .flex-container {
        width: 100%;
    }
}

.flex-container,
.intro-container {
    width: 80%;
}

.technologien-box {
    border-radius: 25px;
    background-color: #464646;
    flex-basis: 25%;
    color: #fff;
    padding: 2rem 2rem;
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

@media (max-width: 1544px) {
    .flex-container {
        width: 95%;
    }
}

@media (max-width: 1224px) {
    .technologien-box {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 1024px) {
    .flex-container {
        flex-direction: column;
    }

    .technologien-box {
        padding: 2rem 2rem;
        margin-bottom: 0.7rem;
        margin-top: 0.7rem;
        min-width: initial;
    }
}

.technologien-box h1 {
    margin-bottom: 0;
    margin-top: 1rem;
}

.leistungen-box ul {
    padding: 0;
}

.leistungen-box ul > li {
    list-style-position: inside;
    margin-bottom: 0.5rem;
}

.leistung-auswählen-btn {
    width: 50%;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.leistung-auswählen-btn:hover {
    font-weight: normal;
}

/* === FOOTER === */

#footer {
    background-color: #9b9b9b;
    color: #0f0f0f;
    height: 2.8rem;
}

#footer-nav {
    display: inline-block;
    float: right;
}

#footer-nav > a {
    text-decoration: none;
}

#footer-nav > a:link {
    color: #fff;
}

#footer-nav > a:visited {
    color: #fff;
}

#footer-nav > a:active {
    color: #fff;
}

#footer-nav > a:hover {
    color: #f0f0f0;
}

@media (max-width: 565px) {
    #footer span {
        display: none;
    }
}

/* === KONTAKT SEITE / BEREICH === */

.kontakt-bereich {
    background-color: #f0f0f0;
}

#kontakt-seite {
    background-color: #fff;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    border: 2px solid #3d3f45;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    color: #3d3f45;
    transition: border 0.4s ease-in-out;
}

#contact-form textarea {
    height: 100px;
}

.submit-Btn {
    width: 100%;
    height: 39px;
    font-size: 1rem;
}

#contact-form input:hover,
#contact-form textarea:hover {
    border: 2px solid #9b9b9b;
}

@media (max-width: 768px) {
    #contact-form button {
        width: 100%;
    }
}

#contact-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

@media (max-width: 1366px) {
    #contact-form {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    #contact-form {
        width: 100%;
    }
}

/* === IMPRESSUM - BEREICH === */

#impressum-bereich h1,
#impressum-bereich h2,
#impressum-bereich h3,
#impressum-bereich p {
    text-align: center;
}

#impressum-bereich h1 {
    font-size: 1.6rem;
}

#impressum-bereich h2 {
    font-size: 1.4rem;
}

#impressum-bereich h3 {
    font-size: 1.2rem;
}

#impressum-bereich p {
    font-size: 1rem;
}

#impressum-bereich a {
    text-align: left;
}

/*

=== GRID SYSTEM (SICHTBARKEIT) ===

.border, .border * {
   border: 1px solid #91C4FF;
}

[class*='col-'] {
   background-color: #BFDBFF;
}

p {
   background-color: #91C4FF;
   padding: 0;
   margin: 0;
   color: #FFF;
   text-align: center;
}

*/

/* === GRID SYSTEM === */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: '';
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: 0.8rem;
}

.col-1 {
    width: 16.666%;
}
.col-2 {
    width: 33.333%;
}
.col-3 {
    width: 50%;
}
.col-4 {
    width: 66.666%;
}
.col-6 {
    width: 100%;
}

/*

 === WICHTIGE BREAKPOINTS ===

480 Pixel (iPhone Querformat)
768 Pixel (iPad Hochformat)
1024 Pixel (iPad Querformat)

 */

@media (max-width: 1024px) {
    .col-1 {
        width: 33.333%;
    }
}

@media (max-width: 768px) {
    .col-1 {
        width: 50%;
    }
    .col-2 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
}
